<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    {% load static %}
    <script type="text/javascript" src="{% static 'functions.js' %}"></script>
</head>
<body>
    <form>
        <input type="text" id="youtubeID" value="UCl79rcNN4Nxps7I0d-iXJpQ">
        <button type="button" onclick="test('{{csrf_token}}')">送信</button>
        <button type="button" onclick="add('{{csrf_token}}')">追加</button>
        <p>UC5Kgc_HNzx4GJ-w4QMeeKiQ : programming</p>
        <p>UCtKs6IE9sbNe6VgNxcngF2w : numa</p>
        <p>UCl79rcNN4Nxps7I0d-iXJpQ : ore</p>
        <p>UCDERz7Cv5bT7csaKi6VQ1qw : zerovideo</p>
    </form>
    <div id="embed"></div>
</body>
</html>